Repository demos-europe/demosplan-core, pull requests merged in 2025-10, with the labels that each got.

#5301 Add configurable rate limiting with environment variables
  .env
  config/packages/rate_limiter.yaml
  config/parameters_default.yml
  demosplan/DemosPlanCoreBundle/Controller/Statement/DemosPlanStatementController.php
  demosplan/DemosPlanCoreBundle/EventSubscriber/RatelimitRequestSubscriber.php
  tests/backend/core/Core/Unit/EventSubscriber/RatelimitRequestSubscriberTest.php
  tests/backend/core/Statement/Functional/PublicStatementRateLimitTest.php
Labels: review:backend

#5306 chore: autofix linting issues
  client/fe/webpack/runWebpack.js
  client/js/components/map/publicdetail/Map.vue
  client/js/components/procedure/StatementSegmentsList/SegmentsRecommendations.vue
  client/js/components/procedure/StatementSegmentsList/StatementSegmentsEdit.vue
  client/js/components/statement/assessmentTable/CopyStatementModal.vue
  client/js/components/statement/assessmentTable/DpMoveStatementModal.vue
  client/js/components/statement/assessmentTable/ExportModal.vue
  client/js/components/statement/publicStatementModal/StatementModalRecheck.vue
  client/js/components/user/DpUserList/DpUserList.vue
Labels: review:frontend

#5302 fix DPLAN-16735 Add validation for map extent boundaries
  demosplan/DemosPlanCoreBundle/Logic/Map/MapExtentValidator.php
  demosplan/DemosPlanCoreBundle/ResourceTypes/ProcedureMapSettingResourceType.php
  tests/backend/core/Map/Unit/MapExtentValidatorTest.php
  translations/messages+intl-icu.de.yml
Labels: type:bug, review:backend
